---
layout: base.njk
---

<link rel="stylesheet" href="{{ '/css/post.css' | url }}">

<div style="text-align: center;">
    {% if date %}<i class="post-date">{{ date | readableDate }}</i>{% endif %}
</div>

<div class="centered">
    {{ content | safe }}
</div>

<script src="https://giscus.app/client.js"
        data-repo="mt-env/blog"
        data-repo-id="R_kgDOSSKs1Q"
        data-category="General"
        data-category-id="DIC_kwDOSSKs1c4C8KcC"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="gruvbox_light"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>

<noscript>
    Comments are powered by <a href="https://giscus.app">Giscus</a>.
    To leave a comment, please enable JavaScript or visit the
    <a href="https://github.com/mt-env/blog/discussions">GitHub Discussions</a> page directly.
</noscript>
